/*---------------------Generic Styles-------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    background: #181825;
}

ul {
    list-style-type: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}

/*---------------------3D Scene Setup.-------------------------*/
#scene-container {
    width: 100%;
    height: 100vh;
}

/*---------------------Heading / Navbar-------------------------*/
.fixed-top {
    position: fixed;
    top: 3%;
    left: 5%;
    width: 90%;
    border-radius: 50px;
}

.hidden-nav-background {
    background: rgba(6, 9, 24, 0);
}

#nav-item-container {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

#drop-down-menu ul{
    display: flex;
}

nav ul li {
    text-align: center;
}

.nav-links {
    position: relative;
    font-size: 1rem;
    padding: 0.75rem;
}

.nav-left-li {
    text-align: left;
}
.nav-left-li a::after {
    content: '';
    position: absolute;
    z-index: 9000;
    width: 0;
    height: 2px;
    background: white;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.nav-left-li a:hover::after, .nav-left-li a:focus::after, .nav-left-li a:active::after {
    width: 75%;
    left: 10%;
    transform: translateX(0%);
}

#nav-center-logo {
    flex-grow: 1;
    text-align: center;
}

#logo {
    font-size: 1.5rem;
}

#logo b {
    font-weight: 800;
    background: transparent;
}

#nav-right-li {
    text-align: right;
    border: white solid 1px;
    border-radius: 50px;
    padding: 0.5rem;
    background: linear-gradient(to right, white 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease-in;
}

#nav-right-li a {
    padding: 0.8rem;
}

#nav-right-li:hover {
    background-position: left bottom;
}
#nav-right-li a:hover {
    color: rgb(6, 9, 24);
    transition: ease-in 0.4s;
}
/*---------------------Main Styles-------------------------*/
#landing-page-overlay {
    display: none;
}


#about-me-container img {
    width: 100%;
    min-height: 100vh;
}

#about-me-container h2 {
    border: solid rgb(105 25 255) 1px;
    border-radius: 50px;
    padding: 0.3rem 1.5rem;
    width: max-content;
    color: rgb(105, 25, 255);
    background: rgba(105, 25, 255, 0.1);
    font-size: 1.2rem;
}

#about-me-container h3 {
    font-weight: 600;
}

#about-me-container p {
    font-size: 1rem;
    line-height: 1.625rem;
    color: #f1f1f1ba;
}

#about-me-container p b {
    font-weight: 600;
    color: #f1f1f1;
}

#work-experience-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}