/*---------------------Generic Styles-------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    background: #181825;
}

ul {
    list-style-type: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}

/*---------------------3D Scene Setup.-------------------------*/
#scene-container {
    width: 100%;
    height: 100vh;
}

/*---------------------Heading / Navbar-------------------------*/
.fixed-top {
    position: fixed;
    top: 3%;
    left: 5%;
    width: 90%;
    border-radius: 50px;
    z-index: 100;
}

.hidden-nav-background {
    background: rgba(6, 9, 24, 0);
}

#nav-item-container {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

#drop-down-menu ul{
    display: flex;
}

nav ul li {
    text-align: center;
}

.nav-links {
    position: relative;
    font-size: 1rem;
    padding: 0.75rem;
}

.nav-left-li {
    text-align: left;
}
.nav-left-li a::after {
    content: '';
    position: absolute;
    z-index: 1000;
    width: 0;
    height: 2px;
    background: white;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.nav-left-li a:hover::after, .nav-left-li a:focus::after, .nav-left-li a:active::after {
    width: 75%;
    left: 10%;
    transform: translateX(0%);
}

#nav-center-logo {
    flex-grow: 1;
    text-align: center;
}

#logo {
    display: inline-block;
    font-size: 1.5rem;
    transform-origin: center;
}

#logo:hover {
    animation: logoBounce 0.5s ease forwards;
}

#logo b {
    font-weight: 800;
    background: transparent;
}

@keyframes logoBounce {
    0%, 100% {transform: rotateZ(0deg) scaleX(1) scaleY(1);}
    50% {transform: rotateZ(-10deg) scaleX(1.1) scaleY(0.5);} 
}

#nav-right-li {
    text-align: right;
    border: white solid 1px;
    border-radius: 50px;
    padding: 0.5rem;
    background: linear-gradient(to right, white 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease-in;
}

#nav-right-li a {
    padding: 0.8rem;
}

#nav-right-li:hover {
    background-position: left bottom;
}
#nav-right-li a:hover {
    color: rgb(6, 9, 24);
    font-size: 1.2rem;
    transition: ease-in 0.4s;
}
/*---------------------Main Styles-------------------------*/
hr {
    max-width: 90%;
    color: rgb(151, 151, 151);
    margin-top: 10%;
    margin-left: 5%;
    opacity: 0.2;
}

#first-hr {
    margin-top: 0;
}

#landing-page-overlay {
    position: absolute;
    top: 40%;
    display: flex;
    padding-top: 3rem;
    gap: 1rem;
    width: 100%;
    background: rgba(244, 243, 247, 0);
}

#landing-page-overlay:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #fff;
    transform: scaleX(0);
    transform-origin: center;
}

@keyframes extendLine {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

#landing-page-overlay h1 {
    background: none;
    font-size: 4rem;
    width: 50vw;
    text-align: center;
    justify-content: left;
}

#landing-page-overlay.animate-line:before {
    animation: extendLine 1.5s ease-out forwards;
}

@keyframes dropDown {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#landing-page-overlay h1, 
#landing-page-overlay button,
#landing-page-overlay p {
    opacity: 0;
}

#landing-page-desc {
    display: flex;
    flex-direction: column;
}

#landing-page-overlay p {
    background: none;
    font-size: 1.3rem;
    font-weight: 400;
    width: 40vw;
}

#landing-page-overlay button {
    margin: 3rem auto auto 0;
    text-align: left;
    border: solid rgb(6, 9, 24) 1px;
    padding: 1.4rem 2.2rem;
    color: rgb(6, 9, 24);
    background: linear-gradient(to left, white 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position ease-in 0.5s, ease-in-out 0.5s;
    cursor: pointer;
}

#landing-page-overlay button:hover {
    background-position: left bottom;
    color: #fff;
    font-size: 1rem;
    transition: ease-in-out 0.5s;
    border: solid #fff 1px;
}

.animate-drop-down {
    animation: dropDown 2s ease forwards;
}

#landing-page-overlay h1.animate-drop-down {
    animation-delay: 1.75s;
}

#landing-page-overlay p.animate-drop-down {
    animation-delay: 2.75s;
}

#landing-page-overlay button.animate-drop-down {
    animation-delay: 4.25s;
}

#about-me-container img {
    width: 100%;
    min-height: 100vh;
}

#about-me-container h2, 
#contact-me-container h2,
#work-experience-container h2,
#learning-certs-container h2 {
    border: solid rgb(105 25 255) 1px;
    border-radius: 50px;
    padding: 0.3rem 1.5rem;
    width: max-content;
    color: rgb(105, 25, 255);
    background: rgba(105, 25, 255, 0.1);
    font-size: 1.2rem;
}

#about-me-container h3, 
#contact-me-container h3,
#work-experience-container h3,
#learning-certs-container h3 {
    font-weight: 600;
}

#about-me-container p, 
#contact-me-container p,
#learning-certs-container p {
    font-size: 1rem;
    line-height: 1.625rem;
    color: #f1f1f1ba;
}

#about-me-container p b,
#contact-me-container p b {
    font-weight: 600;
    color: #f1f1f1;
}

/*---------------------Work Experience------------------------*/
#work-experience-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*-------------------Carousel-------------------------*/
.carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}

.carousel-container {
    flex-grow: 1;
    margin-top: 1.8rem;
    overflow: hidden;
    width: 68rem;
    height: 100%;
}
#work-experience .carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.card {
    min-width: 22rem;
    min-height: 38rem;
    margin-right: 1rem;
    position: relative;
    overflow: hidden;
}

.card a {
    display: block;
    height: 100%;
    color: #fff;
    text-align: center;
}

.card-title {
    line-height: 3rem;
}

.card p b {
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 1rem;
    background: none;
}

#work-experience img {
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid white 1px;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.4);
    border-radius: 20px;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover .card-overlay {
    opacity: 1;
}

.card:hover .card-title {
    display: block;
}

#prevBtn, #nextBtn {
    padding: 0.8rem 1rem;
    cursor: pointer;
    margin: 0.5rem 1rem;
    border-radius: 50%;
    border: solid grey 1px;
    font-weight: 200;
    font-size: 1.8rem;
    opacity: 0.6;
}

#learning-certs-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#learning-certs .carousel-container {
    height: 25rem;
    width: 100vw;
}

#learning-certs .card {
    border: solid white 1px;
    border-radius: 20px;
    flex: 0 0 auto;
    min-width: 33rem;
    min-height: 22rem;
    margin-right: 1.2rem;
    background: radial-gradient(circle 16rem at center, rgba(255, 255, 255, 0.25), rgb(6, 9, 24));
}

#learning-certs .carousel-slide {
    display: flex;
    animation: slide 20s linear infinite;
}

@keyframes slide {
    from {
        transform: translateX(25%);
    } to {
        transform: translateX(-100%); 
    }
}

#contact-form label {
    display: block;
    margin: 1rem 0 0.5rem;
    color: #f1f1f1ba;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 0.25rem;
    border: solid rgb(105, 25, 255) 1px;
    background: rgba(24, 33, 76, 0.5);
}

#contact-form button {
    display: block;
    margin-left: auto;
    margin-top: 2rem;
    border: solid rgb(6, 9, 24) 1px;
    padding: 1rem 2rem;
    color: rgb(6, 9, 24);
    background: linear-gradient(to left, white 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position ease-in 0.5s, ease-in-out 0.5s;
    cursor: pointer;
}

#contact-form button:hover {
    background-position: left bottom;
    color: #fff;
    font-size: 1rem;
    transition: ease-in-out 0.5s;
    border: solid #fff 1px;
}


/*--------------------------Footer-----------------------*/

footer {
    margin-top: 4%;
}

footer h3 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: #969696;
    margin-bottom: 2rem;
}

footer ul {
    display: flex;
    justify-content: space-around;
    max-width: 50%;
    margin-left: 25%;
    padding-top: 1.2rem;
}

footer hr {
    margin-top: 1%;
    margin-left: 20%;
    max-width: 60%;
}

#last-hr {
    margin-bottom: 4%;
}

footer li {
    cursor: pointer;
}