/*---------------------Generic Styles-------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    background: #181825;
}

ul {
    list-style-type: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}

/*---------------------3D Scene Setup.-------------------------*/
#scene-container {
    width: 100%;
    height: 100vh;
}

/*---------------------Heading / Navbar-------------------------*/
.fixed-top {
    position: fixed;
    top: 3%;
    left: 5%;
    width: 90%;
    border-radius: 50px;
}

.hidden-nav-background {
    background: rgba(6, 9, 24, 0);
}

#nav-item-container {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

#drop-down-menu ul{
    display: flex;
}

nav ul li {
    text-align: center;
}

.nav-links {
    position: relative;
    font-size: 1rem;
    padding: 0.75rem;
}

.nav-left-li {
    text-align: left;
}
.nav-left-li a::after {
    content: '';
    position: absolute;
    z-index: 9000;
    width: 0;
    height: 2px;
    background: white;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.nav-left-li a:hover::after, .nav-left-li a:focus::after, .nav-left-li a:active::after {
    width: 75%;
    left: 10%;
    transform: translateX(0%);
}

#nav-center-logo {
    flex-grow: 1;
    text-align: center;
}

#logo {
    font-size: 1.5rem;
}

#logo b {
    font-weight: 800;
    background: transparent;
}

#nav-right-li {
    text-align: right;
    border: white solid 1px;
    border-radius: 50px;
    padding: 0.5rem;
    background: linear-gradient(to right, white 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease-in;
}

#nav-right-li a {
    padding: 0.8rem;
}

#nav-right-li:hover {
    background-position: left bottom;
}
#nav-right-li a:hover {
    color: rgb(6, 9, 24);
    font-size: 1.2rem;
    transition: ease-in 0.4s;
}
/*---------------------Main Styles-------------------------*/
#landing-page-overlay {
    position: absolute;
    top: 40%;
    display: flex;
    padding-top: 3rem;
    gap: 1rem;
    width: 100%;
    background: rgba(244, 243, 247, 0);
}

#landing-page-overlay:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #fff;
    transform: scaleX(0);
    transform-origin: center;
}

@keyframes extendLine {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

#landing-page-overlay h1 {
    background: none;
    font-size: 4rem;
    width: 50vw;
    /* line-height: 97%; */
    text-align: center;
}

#landing-page-overlay.animate-line:before {
    animation: extendLine 1.5s ease-out forwards;
}

@keyframes dropDown {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#landing-page-overlay h1, #landing-page-overlay button {
    opacity: 0;
}

#landing-page-overlay p {
    background: none;
    font-size: 1.25rem;
    width: 40vw;
    opacity: 0;
}

#landing-page-overlay button {
    margin: 6rem 2rem 0 -30rem;
    border: solid rgb(6, 9, 24) 1px;
    padding: 1rem 2rem;
    color: rgb(6, 9, 24);
    background: linear-gradient(to left, white 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position ease-in 0.5s, ease-in-out 0.5s;
    cursor: pointer;
}

#landing-page-overlay button:hover {
    background-position: left bottom;
    color: #fff;
    font-size: 1rem;
    transition: ease-in-out 0.5s;
    border: solid #fff 1px;
}

.animate-drop-down {
    animation: dropDown 2s ease forwards;
}

#landing-page-overlay h1.animate-drop-down {
    animation-delay: 1.75s;
}

#landing-page-overlay p.animate-drop-down {
    animation-delay: 2.75s;
}

#landing-page-overlay button.animate-drop-down {
    animation-delay: 4.25s;
}

#landing-page-overlay {
    /* display: none; */
}


#about-me-container img {
    width: 100%;
    min-height: 100vh;
}

#about-me-container h2, 
#contact-me-container h2,
#work-experience-container h2,
#learning-certs-container h2 {
    border: solid rgb(105 25 255) 1px;
    border-radius: 50px;
    padding: 0.3rem 1.5rem;
    width: max-content;
    color: rgb(105, 25, 255);
    background: rgba(105, 25, 255, 0.1);
    font-size: 1.2rem;
}

#about-me-container h3, 
#contact-me-container h3,
#work-experience-container h3,
#learning-certs-container h3 {
    font-weight: 600;
}

#about-me-container p, 
#contact-me-container p,
#learning-certs-container p {
    font-size: 1rem;
    line-height: 1.625rem;
    color: #f1f1f1ba;
}

#about-me-container p b,
#contact-me-container p b {
    font-weight: 600;
    color: #f1f1f1;
}

#work-experience-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#learning-certs-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-form label {
    display: block;
    margin: 1rem 0 0.5rem;
    color: #f1f1f1ba;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 0.25rem;
    border: solid rgb(105, 25, 255) 1px;
    background: rgba(24, 33, 76, 0.5);
}

#contact-form button {
    display: block;
    margin-left: auto;
    margin-top: 2rem;
    border: solid rgb(6, 9, 24) 1px;
    padding: 1rem 2rem;
    color: rgb(6, 9, 24);
    background: linear-gradient(to left, white 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position ease-in 0.5s, ease-in-out 0.5s;
    cursor: pointer;
}

#contact-form button:hover {
    background-position: left bottom;
    color: #fff;
    font-size: 1rem;
    transition: ease-in-out 0.5s;
    border: solid #fff 1px;
}

/*-------------------Carousel-------------------------*/
.carousel-container {
    overflow: hidden;
    width: 22rem;
}
.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.card {
    min-width: 22rem;
    margin-right: 1rem;
}

#work-experience img {
    margin: 1.5rem 0;
}

#prevBtn, #nextBtn {
    padding: 1rem;
    cursor: pointer;
    margin: 0.5rem 2rem;
}







/*--------------------------Footer-----------------------*/

footer {
    margin-top: 20rem;
}