/*---------------------Generic Styles-------------------------*/
/* N/A */
/*---------------------Heading / Navbar-------------------------*/
#nav-center-logo {
    margin-left: -8.5rem;
}

/*---------------------Main Styles-------------------------*/
#about-me-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#about-me-container h2 {
    margin: 33% 3rem 2rem;
}

#about-me-container h3 {
    font-size: 2rem;
    margin-left: 5rem;
}

#about-me-container p {
    margin: 1rem 5rem 0;
}

#work-experience-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#learning-certs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-me-container {
    display: grid;
    grid-template-columns: auto auto;
}

form {
    padding: 5rem;
}