/*---------------------Generic Styles-------------------------*/

/*---------------------Heading / Navbar-------------------------*/
#nav-center-logo {
    margin-left: 5rem;
}

/* hamburger menu styling */
#hamburger-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: -3rem 1rem 0.5rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    border-radius: 50px;
}

#hamburger-menu span {
    display: block;
    width: 2rem;
    background: white;
    padding: 0.12rem 0;
    margin: 0.1rem 0.5rem;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    border-radius: 20px;
}

#hamburger-line1.active {
    transform: translateY(0.6rem)rotate(45deg);
    z-index: 11;
}
#hamburger-line2.active {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
#hamburger-line3.active {
    transform: translateY(-0.3rem) rotate(-45deg);
    z-index: 11;
}

.nav-left-li {
    display: none;
}

#menu-li-container.active {
    position: fixed;
    top: 15%;
    left: 15%;
    z-index: 11;
    flex-direction: column;
}

.nav-left-li.active {
    display: block;
    z-index: 11;
    margin: 2rem 0;
}

.nav-left-li.active a {
    padding: 1rem;
    margin: 0.5rem;
    font-size: 2rem;
}


#menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 10;
}

#menu-overlay.active {
    display: block;
}