/*---------------------Generic Styles-------------------------*/

/*---------------------Heading / Navbar-------------------------*/
#nav-center-logo {
    margin-left: 4rem;
}

#logo {
    font-size: 0.9rem;
}

#nav-right-li a {
    font-size: 0.675rem;
}

/* hamburger menu styling */
#hamburger-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: -3rem 1rem 0.5rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    border-radius: 50px;
}

#hamburger-menu span {
    display: block;
    width: 1.5rem;
    background: white;
    padding: 0.05rem 0;
    margin: 0.15rem 0.5rem;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    border-radius: 20px;
}

#hamburger-menu.active {
    padding: 0.5rem;
}

#hamburger-line1.active {
    transform: translateY(0.4rem)rotate(45deg);
    z-index: 11;
}
#hamburger-line2.active {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
#hamburger-line3.active {
    transform: translateY(-0.4rem) rotate(-45deg);
    z-index: 11;
}

.nav-left-li {
    display: none;
}

#menu-li-container.active {
    position: fixed;
    top: 15%;
    left: 15%;
    z-index: 11;
    flex-direction: column;
}

.nav-left-li.active {
    display: block;
    z-index: 11;
    margin: 2rem 0;
}

.nav-left-li.active a {
    padding: 1rem;
    margin: 0.5rem;
    font-size: 1.75rem;
}

/*---------------------Main Styles-------------------------*/
#landing-page-overlay {
    z-index: 0;
}

#landing-page-overlay h1 {
    font-size: 2rem;
    font-weight: 600;
    z-index: 1;
}

#landing-page-overlay p {
    font-size: 0.825rem;
}

#landing-page-overlay button {
    padding: 0.9rem 1.3rem;
}

#about-me-container {
    display: flex;
    flex-direction: column;
}

#about-me-container h2,
#contact-me-container h2,
#work-experience-container h2,
#learning-certs-container h2{
    margin: 25% 1.5rem 3rem;
    font-size: 0.8rem;
}

#about-me-container h3,
#contact-me-container h3,
#work-experience-container h3,
#learning-certs-container h3 {
    font-size: 1.4rem;
    margin-left: 3rem;
}

#about-me-container p, #contact-me-container p {
    margin: 1.2rem 3rem 1rem;
}

#contact-me-container {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin-left: 5%;
}

#contact-form {
    margin: 5% 0 2rem 3rem;
}

#landing-page-overlay {
    /* display: none; */
}

.carousel-container {
    width: 22rem;
}


/*------------------------Mobile Overlay--------------------------*/
#menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 10;
}

#menu-overlay.active {
    display: block;
}